/*
.color1 { #fdf2c5 }; --beige claro
.color2 { #efe8b2 }; --beige oscuro
.color3 { #c6d1a6 }; --verde agua
.color4 { #82bfa0 }; --verde oscuro
.color5 { #7a6f5d }; --bison
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #7a6f5d;
/*    background-image: url('images/');*/
}
aside {
    padding: 15px;
}
th {
    padding: 10px;
}
td {
    padding: 10px;
}
.tr-titulo {
    border-bottom: #7a6f5d solid 1pt;
}
.principal{
    padding: 30px;

}
.contenedor {
    display: grid;
    gap: 5px;
    background-color: #7a6f5d;
    padding: 10px;
    grid-template: repeat(5, 1fr);
    grid-template-areas: 
    "menu menu menu menu menu"
    "principal principal principal principal principal"
    "principal principal principal principal principal"
    "principal principal principal principal principal"
    "publicidad publicidad publicidad publicidad publicidad"
    "pie_pagina pie_pagina pie_pagina pie_pagina pie_pagina";
    text-align: center;
    height: auto;
}
.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
}
.principal {
    grid-area: principal;
    grid-column: 1/6;
    background-color: #efe8b2;
}
.publicidad {
    grid-area: publicidad;
    grid-column: 1/6;
    background-color: #efe8b2;
}
.piepagina {
    grid-area: pie_pagina;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    /*background-color: #efe8b2;*/
    padding: 0;
    width: 100%;
    background-color: #82bfa0;    
}
.piepagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 0;
    align-items: center;
}
.piepagina .grupo-2{
    background-color: #7a6f5d;
    /*padding: 3px 0px 2px;*/
    padding: 0;
    text-align: center;
    color: #fff;
}
.ribbon {
    width: 20%;
    height: 0px;
    border-left: 50px solid #7a6f5d;
    border-right: 50px solid #82bfa0;
    border-bottom: 60px solid #7a6f5d;
    border-top: 60px solid #7a6f5d;
}
.enlace {
    display: flex;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #fdf2c5;
    border-radius: 5px;
    font-size: small;
}
.enlace:hover {
    background-color: #c6d1a6;
    opacity: 1;
    text-decoration: none;
    color: #7a6f5d;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}
.enlace-receta {
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #82bfa0;
    border-radius: 5px;
    font-size: small;
}
.enlace-receta:hover {
    background-color: #c6d1a6;
    opacity: 1;
    text-decoration: none;
    color: #7a6f5d;
}

.marco {
    border-radius: 2%;
}

/*  pie de pagina */
.imgFt {
    display: inline-block;
    align-items: flex-end;
    width: 20px;
    opacity: 0.5;
}
.imgFt:hover{
    opacity: 1;
}
.imgSm {
    display: flex;
    align-items: flex-start;
    width: 300px;
    padding: 2%;
}
.formulario {
    padding: 5%;
}

/* Agregado para la pagina de Expositores - Tulio */

.textexpo{
    padding: 1% 5% 0 5%;
    text-align: center;
    font-style: italic;
    /* color:#7a6f5d;  */
    border: 2px solid #7a6f5d;
    border-radius: 5px;
    background-color: #82bfa0;
    color: #7a6f5d;
}
.textexpo h4 {
    font-size: 1.5rem;
}

.imgexpo{
    display: flex;
    justify-content: space-around;
    text-align: left;
    /* color:#7a6f5d;  */
    padding-bottom: 3%;
    padding-top: 2%;
}
.contenedor-quien {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
    justify-content: space-around;
}
.item {
    text-align: center;
    padding-bottom: 50px;
}
.texto {
    background-color: #82bfa0;   
    border-radius: 5px; 
    border: 2px solid #7a6f5d;
    color: #7a6f5d;
    padding: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.texto a{
    text-decoration: none;
    color: #7a6f5d;
}
.texto img {
    padding: 5px;
}
table{
    width: 100%;
}
#redonda {
    width:200px;
    height:200px;
    border-radius:50%;
    border: solid 3px white;
    overflow:hidden; /* Evitar que el contenido se visualice fuera del borde*/
}
#circulo {
    float: unset;
    width: 200px;
    height: 200px;
    margin: 80px;
    shape-outside: inset();
    clip-path: circle();
    background: lightblue;
}
.boton-submit {
    padding: 5px;
    border-radius: 5px;
}
.boton-submit:hover {
    background-color: #82bfa0;
    padding: 5px;
}
